.header {
    background: #FFFFFF;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
}

.header-utilities nav {
    width: 25%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-nav__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    gap: 20px
}

.header-nav__button {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.footer {
    margin: 0 auto;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
}

.footer__logo {
    margin: 0 auto;
    width: 25%;
    font-weight: bold;
}