.attendance__content {
    background: #F2F2F2;
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100%;
}

.attendance__comment {
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
}

.attendance__comment-text {
    margin: 0 auto;
}

.alert {
    text-align: center;
}

.attendance__panel {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    /* ボタンを2行に並べる */
    justify-content: center;
    /* 横方向に中央に揃え */
    align-items: center;
    /* 縦方向に中央揃え */
    max-width: 960px;
    /* パネル全体の幅を適切に設定 */
}

.attendance__button-submit {
    padding: 20px 20px;
    width: 430px;
    height: 200px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}